html {	
	--u: 1.5vmin;
	--c1: #ebfdff;
	--c2: #4344af;
	--c3: #434eaf;
	--c4: #3a64b750;
	--c5: #3a4db740;
	--c6: #3a4db740;	
	--draw-mid: #fff0 0 calc(var(--u) * 3.25), var(--c4) calc(var(--u) * 3.5), #fff0 calc(var(--u) * 3.75) 100%;
	--draw-left: #fff0 0 calc(var(--u) * 3.25), var(--c5) calc(var(--u) * 3.5), #fff0 calc(var(--u) * 3.75) 100%;
	--draw-right: #fff0 0 calc(var(--u) * 3.25), var(--c6) calc(var(--u) * 3.5), #fff0 calc(var(--u) * 3.75) 100%;
	--draw-white: var(--c1) calc(var(--u) * 3.58) calc(var(--u) * 3.62), #fff0 calc(var(--u) * 3.66) 100%;
	--p1: var(--c1) calc(var(--u) * 3.5), var(--c3) calc(var(--u) * 3.9), #fff0 calc(var(--u) * 4) 100%;
	--p2: var(--c1) calc(var(--u) * 3.75), #fff0 calc(var(--u) * 4) 100%;
	--c0: circle at 0%;
	--c50: circle at 50%;
	--c100: circle at 100%;
	--gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
	height: 100vh;
	background: 
		
		repeating-linear-gradient(90deg, #00bcd430 , #3bffb638 calc(var(--u) * 5), #00bcd430 calc(var(--u) * 10)),
	
		radial-gradient(var(--c50) -36%, var(--p1)) var(--gp), 
		
		/*** top right ***/ 
		radial-gradient(var(--c100) -34%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -30%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -26%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -22%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -18%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -14%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -10%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -6%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) -2%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 2%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 6%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 8%, var(--draw-white)) var(--gp), 
		radial-gradient(var(--c100) 10%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 12%, var(--draw-white)) var(--gp), 
		radial-gradient(var(--c100) 14%, var(--draw-right)) var(--gp), 
		
		
		/*** top left ***/ 
		radial-gradient(var(--c0) -34%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -30%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -26%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -22%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -18%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -14%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -10%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -6%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) -2%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 2%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 6%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 8%, var(--draw-white)) var(--gp), 
		radial-gradient(var(--c0) 10%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 12%, var(--draw-white)) var(--gp), 
		radial-gradient(var(--c0) 14%, var(--draw-left)) var(--gp), 
		
		
		radial-gradient(var(--c100) 12%, var(--p2)) var(--gp), 
		radial-gradient(var(--c100) 15%, var(--p1)) var(--gp), 
		radial-gradient(var(--c0) 12%, var(--p2)) var(--gp), 
		radial-gradient(var(--c0) 15%, var(--p1)) var(--gp), 
		
		
		/*** middle ***/ 
		radial-gradient(var(--c50) -22%, var(--draw-mid)) var(--gp), 
		linear-gradient(180deg, #fff0 0 1%, var(--c2) 1%, var(--c1) 14%, #fff0 15% 100%) var(--gp), 
		radial-gradient(var(--c50) -18%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) -14%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) -10%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) -6%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) -2%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 2%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 6%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 10%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 14%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 18%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 22%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 26%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 30%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 34%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 38%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 42%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 46%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 36%, var(--draw-white)) var(--gp),
		radial-gradient(var(--c50) 50%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 40%, var(--draw-white)) var(--gp), 
		radial-gradient(var(--c50) 54%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 56%, var(--draw-white)) var(--gp), 
		radial-gradient(var(--c50) 58%, var(--draw-mid)) var(--gp), 
		radial-gradient(var(--c50) 60%, var(--draw-white)) var(--gp),
		radial-gradient(var(--c50) 62%, var(--draw-mid)) var(--gp),
		
		
		radial-gradient(var(--c50) 61%, var(--p2)) var(--gp), 
		radial-gradient(var(--c50) 64%, var(--p1)) var(--gp), 
		
		/*** bottom right ***/ 
		radial-gradient(var(--c100) 30%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 34%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 38%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 42%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 46%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 50%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 54%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 58%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 62%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 66%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 70%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 74%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 78%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 82%, var(--draw-right)) var(--gp), 
		radial-gradient(var(--c100) 86%, var(--draw-right)) var(--gp), 
		
		
		/*** bottom left ***/ 
		radial-gradient(var(--c0) 30%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 34%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 38%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 42%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 46%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 50%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 54%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 58%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 62%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 66%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 70%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 74%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 78%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 82%, var(--draw-left)) var(--gp), 
		radial-gradient(var(--c0) 86%, var(--draw-left)) var(--gp), 
				
		linear-gradient(0deg, var(--c1) 0 30%, var(--c2) 50%, var(--c1) 50% 80%, var(--c2) calc(100% - 1px), var(--c1) calc(100% - 1px) 100%) var(--gp);;
			
}

.btn-gradient-border {
  color: rgb(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 95%), 0 0 32px rgb(65 120 255 / 74%);
}
.text-gradient {
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
  height:100%;
  font-family: "Montserrat";
  background-color:#fef7db;
}
h1{      
    font-size: 2em;
    letter-spacing: -.75px;
     line-height:1.12em;
	font-weight:bold;
	margin-top:0.8em;
	margin-bottom:0.125em;
}
hr {
  border: dotted #77b82c 6px;
  border-bottom: none;
  width: 10%;
  margin: 0px auto 100px auto;
}

article{
padding:20px;
height:300px;
 }

footer{
background-color:#fff;
padding:100px;
text-align:center;
}



@media (min-width:360px){
  h4{
    font-size: 1rem;}}


 ::placeholder{
color:#f0b2a8;
}
.btn1 {
  background: #34d9a2;
  background-image: -webkit-linear-gradient(top, #34d9a2, #77b82c);
  background-image: -moz-linear-gradient(top, #34d9a2, #77b82c);
  background-image: -ms-linear-gradient(top, #34d9a2, #77b82c);
  background-image: -o-linear-gradient(top, #34d9a2, #77b82c);
  background-image: linear-gradient(to bottom, #34d9a2, #77b82c);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  text-shadow: 3px 3px 18px #666666;
    font-family: 'Montserrat', sans-serif;
  color: #ECE7B4;
  font-size: 25px;
  padding: 4px 12px 10px 11px;
  text-decoration: none;
}
.btn1:hover {
  background: #fcfc3c;
  background-image: -webkit-linear-gradient(top, #fcfc3c, #3498db);
  background-image: -moz-linear-gradient(top, #fcfc3c, #3498db);
  background-image: -ms-linear-gradient(top, #fcfc3c, #3498db);
  background-image: -o-linear-gradient(top, #fcfc3c, #3498db);
  background-image: linear-gradient(to bottom, #fcfc3c, #3498db);
  text-decoration: none;
}
@media(max-width: 767px) {
	.btn1{
      padding: 0.8em 0.3em;
      display: inline-block;
	}
}

.button1 {
  --border: 5px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #FFC900; /* the color */
  
  font-size: 20px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
}
.button1:hover,
.button1:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.button1:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000a;
}
.button1:active {
  --s: #0005;
  transition: none;
}


.container-section {
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
line-height:1.8;
	max-width:1500px;
	font-size:17px;
}
