
.btn1 {
  background: #34d9a2;
  background-image: -webkit-linear-gradient(top, #34d9a2, #77b82c);
  background-image: -moz-linear-gradient(top, #34d9a2, #77b82c);
  background-image: -ms-linear-gradient(top, #34d9a2, #77b82c);
  background-image: -o-linear-gradient(top, #34d9a2, #77b82c);
  background-image: linear-gradient(to bottom, #34d9a2, #77b82c);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  text-shadow: 3px 3px 18px #666666;
    font-family: 'Montserrat', sans-serif;
  color: #ECE7B4;
  font-size: 25px;
  padding: 4px 12px 10px 11px;
  text-decoration: none;
}
.btn1:hover {
  background: #fcfc3c;
  background-image: -webkit-linear-gradient(top, #fcfc3c, #3498db);
  background-image: -moz-linear-gradient(top, #fcfc3c, #3498db);
  background-image: -ms-linear-gradient(top, #fcfc3c, #3498db);
  background-image: -o-linear-gradient(top, #fcfc3c, #3498db);
  background-image: linear-gradient(to bottom, #fcfc3c, #3498db);
  text-decoration: none;
}

*{
margin:0;
  padding:0;
  box-sizing:border-box;
}
hr {
  border: dotted #77b82c 6px;
  border-bottom: none;
  width: 10%;
  margin: 0px auto 100px auto;
}

body{
  height:100%;
  font-family: "Montserrat";
  background-color:#fef7db;
}
h1{      
  font-size:2rem;
  font-weight:bold;
  line-height:1.5;
}
article{
padding:20px;
height:300px;
 }

footer{
background-color:#fff;
padding:100px;
text-align:center;
}
footer2{
padding:7% 15%;
text-align:center;
}

*#title{
background-color:#EADEB8;
  padding:0px;
}

@media (min-width:360px){
  h4{
    font-size: 1rem;}}


 ::placeholder{
color:#f0b2a8;
}

@media(max-width: 767px) {
	.btn1{
      padding: 0.8em 0.3em;
      display: inline-block;
	}
}
.social-icon{
margin:20px 10px;}
